#!/bin/bash
PROJECT_PATH=~/Workplace/project
python3 -c """
import os
os.makedirs('external', exist_ok=True)
try:
	os.symlink('${PROJECT_PATH}', os.path.join('external','project'), target_is_directory=True)
except FileExistsError:
    pass
"""

export ANDROID_NDK={your android ndk path}
export OBFUSCATE_BIN={your obfuscate bin path}
bash obfuscate.sh
bash compile.sh $@
